<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>com.nanoclaw.onegate-tunnel</string>
  <key>ProgramArguments</key>
  <array>
    <string>/usr/bin/ssh</string>
    <string>-N</string>
    <string>-o</string><string>ExitOnForwardFailure=yes</string>
    <string>-o</string><string>ServerAliveInterval=30</string>
    <string>-o</string><string>ServerAliveCountMax=3</string>
    <string>-o</string><string>StrictHostKeyChecking=accept-new</string>
    <string>-o</string><string>IdentitiesOnly=yes</string>
    <string>-i</string><string>/Users/ziv/.nanoclaw-onegate/vm_ed25519</string>
    <string>-L</string><string>127.0.0.1:18443:172.17.0.1:8443</string>
    <string>root@178.104.9.163</string>
  </array>
  <key>RunAtLoad</key>
  <true/>
  <key>KeepAlive</key>
  <true/>
  <key>StandardOutPath</key>
  <string>/Users/ziv/.nanoclaw-onegate/tunnel.log</string>
  <key>StandardErrorPath</key>
  <string>/Users/ziv/.nanoclaw-onegate/tunnel.err.log</string>
</dict>
</plist>
